# Jekyll
_site
.sass-cache
.jekyll-metadata
Gemfile.lock

# Python
__pycache__/
*.pyc
*.pyo

# Web development
assets/images/temp

# VS Code
pfitsplus.github.io.code-workspace
assets/images/local/banner/img/banner.png
assets/images/local/banner/img/social_preview.png
assets/images/local/banner/xcf/banner.xcf
assets/images/local/banner/xcf/social_preview.xcf
assets/images/local/logo/ideas/PFITS_logo.jpg
assets/images/local/logo/ideas/Saturn Tumbleweed.png
assets/images/local/logo/img/favicon.ico
assets/images/local/logo/img/favicon.png
assets/images/local/logo/img/logo.png
assets/images/local/logo/src/bird-roadrunner-shape.svg
assets/images/local/logo/src/saturn.png
assets/images/local/logo/src/tumbleweed.png
assets/images/local/logo/xcf/old.xcf
assets/images/local/logo/xcf/pfits_logo_rose.xcf
assets/images/local/logo/xcf/pfits_logo.xcf
